@import "../settings/fonts";
@import "../settings/colors";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-base;
    color: $color-text;
    max-width: 2020px;

    @media (min-width: 2020px) {
        margin:0 auto;
    }
}