@import "../settings/colors";
@import "../settings/fonts";

// *** Contact *** //
.contact {
    background: #FFFFFFC9 url("../../assets/contact-background.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    width: 100%;
    height: 900px;

    &__column {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        
        @media (max-width: 1330px) {
            width: 35%;
        }
    }

    &__title {
        font-size: 2.375em;
        text-align: center;
        letter-spacing: -0.76px;
    }

    &__deco {
        padding-top: 37px;
        //padding-bottom: 77px;
    }

    // *Form * //
    &__form {
        display: flex;
        flex-direction: column;

        &-inputs {
            display: flex;
            justify-content: space-between;
        }

        &-label {
            font-family: $font-base;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-input {
            min-width: 250px;
            min-height: 30px;
            background-color: transparent;
            font-family: $font-base;
            border: none;
            border-bottom: 1px solid rgba(112, 112, 112, 0.5);
            padding-top: 12px;

            &::placeholder {
                color: #3C3C3C26;
                font-family: $font-base;
                font-size: 1.125em;
            }
        }

        textarea {
            width: 525px;
        }

        &-btn {
            width: 150px;
            height: 50px;
            background-color: rgba(255, 255, 255, 0.25);
            text-transform: capitalize;
            font-size: 1.125em;
            border: 0.75px solid $color-text;
            align-self: flex-end;
            margin-top: 40px;

            &:hover,
            &:active {
                box-shadow: inset 0 0 2px 0 $color-text;
            }
        }
    }
}

.success__message {
    color: green;
    font-weight: bold;
    padding: 30px;
}

.error {
    color: red;
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 5px;
    border-top: 1px solid #ff0000;
}

// *** Footer *** //
.footer {
    width: 100%;

    &__column {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__copyright {
      font-size: 1.125em;
    }

    &__socialmedia {
        .facebook-icon {
            padding-right: 15px;
        }
    }
}