@import "../settings/colors";

.header {
    &__user {
        display: flex;
        justify-content: flex-end;
        margin-top: 45px;

        &-link {
            font-size: 0.875em;
            color: $color-log;
            text-decoration: none;
            padding: 10px;
            border: 0.75px solid transparent;

            &:nth-of-type(2) {
                border: 0.75px solid gold;
                margin-left: 10px;
            }

            &:hover,
            &:active {
                border: 0.75px solid gold;
            }
        }

        &--email {
            border: none !important;
            font-weight: 600;
            color: $color-text;
            &:hover,
            &:active {
                border: none;
                cursor: default;
            }
        }

        &--donate {
            border: 0.75px solid gold;
        }

        &--logout {
            border: none !important;
        }
    }
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 0 100px;

    &-el {
        font-size: 1.125em;
        color: $color-text;
        cursor: pointer;
        margin: 10px 0;

        .active {
            border: 0.75px solid $color-text;
        }
    }

    &-link {
        color: $color-text;
        text-decoration: none;
        border: 0.75px solid transparent;
        padding: 10px;

        &:hover,
        &:active {
            border: 0.75px solid $color-text;
        }
    }
}