@import "../settings/colors";

.scrollArrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    background-color: $color-warning;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeIn 0.5s;
    transition: opacity 0.5s;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    &__hidden {
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}