@import "../../settings/colors";
@import "../../settings/fonts";

.form__checkbox {
    &-container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-size: 1.5em;
        padding-bottom: 45px;
    }
    &-box {
        appearance: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        flex-shrink: 0;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        border-radius: 2px;
        border: 1px solid grey;

        &:checked {
            background-color: $color-warning;
        }
    }
}