@import "../../settings/colors";
@import "../../settings/fonts";

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 80px;

    &__number {
        list-style-type: none;
        padding: 15px 13px;
        color: $color-text;
        text-decoration: none;
        border: 0.75px solid transparent;
        cursor: pointer;

        &:hover,
        &:active {
            border: 0.75px solid $color-text;
        }
    }
}